{% extends 'user_dash/base.html' %}{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Welcome to the Test!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Start</a>
    </p>
</div>

<div class="row">
    <div class="col-4">
        <h3>Manage Users</h3>
        <p>Using this application you'll learn how to add, remove and edit user information.</p>
    </div>
    <div class="col-4">
        <h3>Leave Messages</h3>
        <p>Users will be able to leave a message to another user with this application.</p>
    </div>
    <div class="col-4">
        <h3>Edit User Information</h3>
        <p>Admins will be able to edit other users information (email address, first name, last name etc...)</p>
    </div>
</div>
{% endblock %}